<!DOCTYPE html>

<html>

    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{{ page.title }}</title>


    </head>


    <body style="margin-top:1%; margin-bottom:2%; margin-left:2%; margin-right:2%">

        <a href= {{ site.baseurl }}/ > 回到首页 </a>

        <h1 style= "text-align: center" > {{ page.title }} </h1>

        {{ content }}

        <a href= {{ site.baseurl }}/ > 回到首页 </a>

        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1273431569'%3E%3C/span%3E%3Cscript src='" 
                        + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273431569%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
        </script>
    
    </body>

</html>
